/* LAYOUT */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #fafaf8;
}

/* LAYOUT */

header {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.65em;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
  width: 43px;
  height: auto;
}

main {
  padding: 3em 2.5em;
}

main > section > form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-grow: 1;
  height: 38px;
}

main > section > form > input {
  min-width: 150px;
  max-width: 400px;
  padding: 0.5625em 0.8125em;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
}

main > section > form > button {
  border: none;
  border-radius: 6px;
  font-family: inherit;
  padding: 0.5em 2em;
  color: #fafaf8;
  background-color: #141413;
  cursor: pointer;
}

.ingredients-section {
  padding: 1.5em 0;
}

.ingredients-section ul {
  margin: 0.95em 0 3em 0;
}

.ingredients-section ul > li {
  margin-top: 0.2em;
}

.recipe-container button {
  padding: 0.85em 1.2em;
  color: #fafaf8;
  border: none;
  border-radius: 6px;
  background-color: #d17557;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}

/* TYPOGRAPHY */

header > h1 {
  font-weight: 400;
}

main > section > form > button {
  font-size: 0.875rem;
}

main > section > form > input {
  font-size: 0.975rem;
  font-weight: 300;
  font-family: inherit;
}

.ingredients-section ul > li {
  line-height: 1.75em;
  color: gray;
}

.ingredients-section h2 {
  color: #141413;
}

.recipe-container {
  background-color: #f0efeb;
  display: flex;
  justify-content: space-around;
  padding: 0.975em;
  align-items: center;
  border-radius: 5px;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}
